<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changanford.shop">
    <application>
        <!--================================ 商城 Start-->
        <!--积分明细-->
        <activity android:name=".ui.IntegralDetailsActivity"/>
        <!-- 商品详情-->
        <activity android:name=".ui.goods.GoodsDetailsActivity"/>
        <!-- 订单确认-->
        <activity android:name=".ui.order.OrderConfirmActivity"/>
        <!-- 确认支付-->
        <activity android:name=".ui.order.PayConfirmActivity"/>
        <!-- 商品评价-->
        <activity android:name=".ui.goods.GoodsEvaluateActivity"/>
        <!-- 商品秒杀-->
        <activity android:name=".ui.goods.GoodsKillAreaActivity"/>
        <!-- 订单评价-->
        <activity android:name=".ui.order.OrderEvaluationActivity"/>
        <!-- 商品订单-->
        <activity android:name=".ui.order.OrdersGoodsActivity"/>
        <!-- 商品订单-订单详情-->
        <activity android:name=".ui.order.OrderDetailsActivity"/>
        <!--================================= 商城 End-->
    </application>
</manifest>