<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changanford.shop">

    <application>
        <!--================================ 商城 Start-->
        <!--积分明细-->
        <activity android:name=".ui.IntegralDetailsActivity" />
        <!-- 商品详情   android:launchMode="singleTask"-->
        <activity
            android:name=".ui.goods.GoodsDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 订单确认-->
        <activity
            android:name=".ui.order.OrderConfirmActivity"
            android:screenOrientation="portrait" />
        <!-- 确认支付-->
        <activity
            android:name=".ui.order.PayConfirmActivity"
            android:screenOrientation="portrait" />
        <!-- 商品评价-->
        <activity
            android:name=".ui.goods.GoodsEvaluateActivity"
            android:screenOrientation="portrait" />
        <!-- 商品秒杀-->
        <activity
            android:name=".ui.goods.GoodsKillAreaActivity"
            android:screenOrientation="portrait" />
        <!-- 订单评价-->
        <activity
            android:name=".ui.order.OrderEvaluationActivity"
            android:screenOrientation="portrait" />
        <!-- 商品订单-->
        <activity
            android:name=".ui.order.OrdersGoodsActivity"
            android:screenOrientation="portrait" />
        <!-- 商品订单-订单详情-->
        <activity
            android:name=".ui.order.OrderDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 所有订单-->
        <activity
            android:name=".ui.order.AllOrderActivity"
            android:screenOrientation="portrait" />
        <!-- 商品推荐-->
        <activity
            android:name=".ui.goods.RecommendActivity"
            android:screenOrientation="portrait" />
        <!-- 选择优惠券-->
        <activity
            android:name=".ui.order.ChooseCouponsActivity"
            android:screenOrientation="portrait" />
        <!-- 使用优惠券-->
        <activity
            android:name=".ui.coupon.UseCouponsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.shoppingcart.ShoppingCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.coupon.CouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sale.AfterSaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sale.RefundProgressHasShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sale.RefundApplySingleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.OrderDetailsV2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.InvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.InvoiceLookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sale.RefundNotShippedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sale.RefundProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.shoppingcart.MultiplePackageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.sale.RefundLogisticsActivity"
            android:screenOrientation="portrait"
            />
        <!--================================= 商城 End-->
    </application>
</manifest>