<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changanford.home">

    <application>
        <activity android:name=".news.activity.SpecialListActivity" />
        <activity android:name=".news.activity.NewsDetailActivity" />
        <activity android:name=".news.activity.SpecialDetailActivity" />
        <activity android:name=".search.activity.PolySearchActivity" />
        <activity android:name=".search.activity.PloySearchResultActivity" />
        <activity android:name=".news.activity.NewsPicsActivity" />


    </application>
</manifest>