<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changanford.circle">

    <application>
        <activity android:name=".ui.activity.PostDetailsActivity" />
        <activity android:name=".ui.activity.PostActivity"/>
        <activity android:name=".ui.activity.CircleListActivity" />
        <activity android:name=".ui.activity.AllReplyActivity" />
        <activity android:name=".ui.activity.CircleDetailsActivity" />
        <activity android:name=".ui.activity.PictureeditlActivity" />
        <activity android:name=".ui.activity.ChooseLocationActivity" />
        <activity android:name=".ui.activity.SearchLocActivity" />
        <activity android:name=".ui.activity.ChooseConversationActivity" />

        <activity android:name=".ui.activity.PersonalActivity" />
        <activity android:name=".ui.activity.HotTopicActivity" />
        <activity android:name=".ui.activity.TopicDetailsActivity" />
        <activity android:name=".ui.activity.ChoseCircleActivity" />
        <activity android:name=".ui.activity.VideoPostActivity" />
        <activity android:name=".ui.activity.EditVideoActivity" />
        <activity android:name=".ui.activity.PictureEditAudioActivity" />
        <activity android:name=".ui.activity.VideoChoseFMActivity" />
        <activity android:name=".ui.activity.LongPostAvtivity" />
        <activity android:name=".ui.activity.SearchCircleActivity" />
        <activity android:name=".ui.activity.SearchTopicActivity" />
        <activity android:name=".ui.release.ReleaseUpActivity" />
        <activity android:name=".ui.release.PerfectQuessionActivity" />
        <activity android:name=".ui.release.PerfectQuessionWBActivity" />
        <activity android:name=".ui.release.MMapActivity" />
        <activity android:name=".ui.release.ReleaseActivity" />
        <activity android:name=".ui.activity.CreateCircleActivity" />
    </application>
</manifest>