<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changanford.my">

    <application>
        <activity android:name=".TestActivity" />
        <activity
            android:name=".ui.LoginUI"
            android:launchMode="singleTask" />
        <activity android:name=".ui.SettingUI" />
        <activity android:name=".ui.TaskListUI" />
        <activity android:name=".ui.JiFenList" />
        <activity android:name=".ui.AllMedalListUI" />
        <activity android:name=".ui.MedalDetailUI" />
    </application>
</manifest>