<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.changanford.evos">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 阿里云推送相关权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- 接收推送主要权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <!--    创建快捷方式权限-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!--适配Android R包可见性 开始-->
    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>

        <package android:name="com.tencent.mm" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.autonavi.minimap" />
        <package android:name="com.baidu.BaiduMap" />
        <!--支付宝-->
        <package android:name="com.eg.android.AlipayGphone" />
        <!--云闪付-->
        <package android:name="com.unionpay" />
    </queries>
    <!--适配Android R包可见性 结束-->
    <application
        android:name="com.changanford.common.MyApp"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@mipmap/fordicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/fordicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EVOS"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:allowBackup,android:theme">
        <activity-alias
            android:name=".Alias1Activity"
            android:enabled="false"
            android:icon="@mipmap/app_two_icon"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StartingWindowTheme"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="open"
                    android:scheme="fordevos" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="${GIO_URL_SCHEME}" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity-alias> <!-- 固定设置一个默认的别名，用来替代原MainActivity -->
        <activity-alias
            android:name=".DefaultAliasActivity"
            android:enabled="true"
            android:icon="@mipmap/fordicon"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StartingWindowTheme"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="open"
                    android:scheme="fordevos" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="${GIO_URL_SCHEME}" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity-alias>
        <meta-data
            android:name="CHANNEL_VALUE"
            android:value="${channel_value}" />
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="333550720" /> <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="3df29f53750248f2b2c2c92737c84bd6" /> <!-- 请填写你自己的appSecret -->
        <!--阿里推送华为-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=104818573" />
        <!--阿里推送Vivo-->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="6babd1d6f310777c9532d2b96e128f39" />
<!--        <meta-data-->
<!--            android:name="com.baidu.lbsapi.API_KEY"-->
<!--            android:value="gwuTZYK647CVUpGD7pWF3Zt3VLNd7nZ6" />-->
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="105514947" />
        <!--        <activity-->
        <!--            android:name=".PicActivity"-->
        <!--            android:exported="true"-->
        <!--            android:label="@string/app_name"-->
        <!--            android:theme="@style/Theme.EVOS.NoActionBar">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <!--        android:excludeFromRecents="${SPL_SHOW}"-->
        <!--        android:taskAffinity="${SPL_TASK}"    -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:taskAffinity="com.changanford.evos"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StartingWindowTheme">

        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.changanford.evos"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- <receiver android:name="com.changan.oushangCos1.utils.tools.NetworkConnectChangedReceiver"></receiver> -->
        <!--            android:taskAffinity="com.changanford.evos"-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="com.changanford.evos"
            android:theme="@style/Theme.AppCompat.NoActionBar.Transparent">
            <!--            android:taskAffinity="com.changanford.evos"-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1111168800" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changanford.my.MyCollectUI"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changanford.my.MyFootUI"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changanford.my.MyActUI"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.changanford.my.PersonCenterUI"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changanford.my.MyPostUI"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changanford.my.PersonCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changanford.my.activity.MyJoinCircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changanford.my.activity.MyJoinTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changanford.my.activity.MyStarPostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changanford.my.activity.OtherMedalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.changanford.evos.ui.pay.AlipayMiniProgramCallbackActivity"
            android:launchMode="singleTask">
            <!--            android:taskAffinity="com.changanford.evos"-->
            <intent-filter>
                <!--action.VIEW和category.DEFAULT必须设置-->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--如果需要浏览器支持打开，则category.BROWSABLE-->
                <category android:name="android.intent.category.BROWSABLE" />
                <!--schema的协议类型：可以自行设置，只要按照统一规则，前后端一致就行-->
                <data android:scheme="hyunionpay" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:exported="false"
            tools:replace="android:exported" />

        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:directBootAware="false"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:replace="android:exported" />

        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:directBootAware="false"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.DUMP"
            tools:replace="android:exported">

            <intent-filter>

                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />
            </intent-filter>
        </receiver>

    </application>

</manifest>